@import "./bootstrap.scss";
@import "./components.scss";
@import "./bootstrap-extended.scss";
@import "./colors.scss";
@import "./iconfont.scss";
@import "./custom-rtl.scss";


table tr {
    border-bottom: 1px solid #ccc;
}
.addBtn {
    border: 1px solid #28c76f;
    background: #28c76f;
    color: #fff;
    padding: 8px 26px;
    border-radius: 5px;
}
.addBtn:hover {
    color: #fff;
    opacity: 0.8;
}
.base-btn {
    width: 190px !important;
}